[submodule "thirdparty/gpmf-write"]
	path = thirdparty/gpmf-write
	url = https://github.com/amarburg/gpmf-write.git
[submodule "thirdparty/gpmf-parser"]
	path = thirdparty/gpmf-parser
	url = https://github.com/amarburg/gpmf-parser.git
